venv/
__pycache__/
*.pyc
.env
.ipynb_checkpoints/

datasets/processed/dga_dataset.csv
datasets/raw/dga-training-data-encoded.json.gz
datasets/raw/dga-training-data-encoded.json/
outputs/
.gitinore

data/
outputs/
*.pcap
